
/**
CSS for Rain
 */
html{
    height:100%;
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
    margin-top: 0;
    background:#0D343A;
    background:-webkit-gradient(linear,0% 0%,0% 100%, from(rgba(13,52,58,1) ), to(#000000)  );
    background: -moz-linear-gradient(top, rgba(13,52,58,1) 0%, rgba(0,0,0,1) 100%);
    background-image: url( 'images/game-start-background.jpg' );
    background-repeat: no-repeat;
    background-size: cover;
    overflow:hidden;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    letter-spacing: 2px;
    font-size: 15px;
}
.body, .header {
    font-family: 'Chewy';
}

.drop {
    background:-webkit-gradient(linear,0% 0%,0% 100%, from(rgba(13,52,58,1) ), to(rgba(255,255,255,0.6))  );
    background: -moz-linear-gradient(top, rgba(13,52,58,1) 0%, rgba(255,255,255,.6) 100%);
    width:1px;
    height:89px;
    position: absolute;
    bottom:200px;
    -webkit-animation: fall .63s linear infinite;
    -moz-animation: fall .63s linear infinite;
}

/* animate the drops*/
@-webkit-keyframes fall {
    to {margin-top:900px;}
}
@-moz-keyframes fall {
    to {margin-top:900px;}
}

/**
Common css
 */

.loading{
    color: #e2ff37;
    text-align: center;
}
p{
    text-shadow: 2px 2px black;
}

.main-content{
    position: absolute;
    width: 100%;
}
button {
    font-family: 'Bangers';
    margin: 10px 0;
    padding: 10px 10px 10px 10px;
    font-size: 36px;
    outline: none;
}
.display{
    display: none;
}

.select-game-mode, .beginner, .advanced{
    color: #ffffff;
    font-family: 'Chewy';
    letter-spacing: 3px;
}
.beginner:hover, .advanced:hover{
    color: #CDDC39;
    cursor: pointer;
}
.advanced-mode .advanced{
    color: #8c8c8c;
}
.advanced-mode .advanced:after{
    content: '-Selected';
}
.beginner-mode .beginner{
    color: #8c8c8c;
}
.beginner-mode .beginner:after{
    content: '-Selected';
}

/**
All images css
 */
img{
    width: 100px;
}
.blood-splat-img{
    width: 110px;
}

.gun-aim{

}
.gun-image{
    position: absolute;
    width: 500px;
    transform: translate(-50%, -50%);
    transition: 0.05s;
}

.look-left.gun-image{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.man-bird-image{
    width: 300px;
}

.dragon-entry-green{
    width: 500px;
    position: relative;

}

.dragon-entry-brown{
    width: 400px;
    position: relative;
}

.dragon-entry-dark-green{
    width: 700px;
    position: relative;

}

.dragon-fire-left{
    width: 500px;
    position: relative;
}

.dragon-fire-right{
    width: 500px;
    position: relative;
}

.dragon-fire{
    width: 500px;
    position: relative;
}

.dragon-final{
    width: 700px;
    position: relative;
}

.sleeping-dragon{
    width: 300px;
}

/**
Before Game starts
 */
.before-game-start{
    text-align: center;
    padding-top: 150px;
}

.level1-instructions-div{
    text-align: center;
    margin: 0 auto;
    width: 800px;
    color: white;
    font-size: 15px;
}

.bird-game-start-gif img{
    width: 250px;
    margin-left: -100px;
    margin-top: -15px;
    opacity: 0.8;
}

h1{
    font-family: 'Nosifer';
    color: #af111c;
    margin: 5px;
    font-size: 50px;
    text-shadow: 2px 1px 1px #000;
    margin-top: 20px;
}

/**
Header
 */
.header{
    width: 100%;
    margin:0 auto;
    color: #fff;
    overflow: hidden;
    text-align: center;
    padding: 30px;
    text-transform: uppercase;
}

.header p {
    margin: 5px;
    padding: 1px;
}

/**
left and right bird-nest for birds
 */


.left-bird-nest {
    float: left;
}
.left-bird-nest img{
    float: left;
    position: relative;
}
.right-bird-nest{
    float: right;
    text-align: right;
}
.right-bird-nest img{
    float: right;
    position: relative;
}

.left-bird-nest div{
    min-height: 20px;
}
.right-bird-nest div{
    min-height: 20px;
}
.health-box img{
    width: 30px;
}

/**
level-three-div
 */

.level-three-div {
    text-align: right;
    position: absolute;
    right: -350px;
}

.animated {
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.fadeOut {
    animation-name: fadeOut;
}

.game-over{
    color: #ffffff;
    font-size: 20px;
    padding-top: 15%;
    text-align: center;
    margin: 0 auto;
}
.game-over p{
    line-height: 20px;
}
.twenty-sec-to-go{
    font-size: 80px;
    color: orange;
}

.nine-sec-to-go{
    color: red;
    font-size: 120px;
    opacity: 0.5;
}

.bird-man-killed{
    color: red;

}
.bird-man-tip{
    color: #ffffff;
}
.dragon-killing-tip{
    color: #aed1d1;
}
.dragon-story{
    color: #acced6;
}


/**
    Styling health bar
*/
progress {
    height: 15px;
    border: 0px none;
    background-color: grey;
    color: white;
}

progress::-webkit-progress-bar {
    background-color: grey;
}
progress::-webkit-progress-value {
    background-color: green;
}
.red-health::-webkit-progress-value {
    background-color: red;
}
.blue-health::-webkit-progress-value {
    background-color: #0c56ff;
}

progress::-moz-progress-bar {
    background-color: green;
}

progress:after {
    content: attr(value)'%';
}
.game-over-score{
    text-align: center;
    margin: 0 auto;
}
.bird-tip{
    color: #CDDC39;
}

/**
CSS for credits game ending
 */
* {
    box-sizing: border-box;
}

.wrapper {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 400px;
    margin-left: -200px;
    font: 300 30px/1 'Open Sans Condensed', sans-serif;
    text-align: center;
    color: #ffffff;
    animation: 70s credits linear infinite;
}

.movie {
    margin-bottom: 50px;
    font-size: 50px;
}

.job {
    margin-bottom: 10px;
    font-size: 18px;
}

.name {
    margin-bottom: 50px;
    font-size: 35px;
}

@keyframes credits {
    0% {
        top: 100%;
    }
    100% {
        top: -500%;
    }
}

.level1-start-button, .level2-start-button, .level3-start-button{
    border-radius: 50%;
    border: none;
    padding: 0;
    width: 120px;
    height:120px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 1px 7px 14px rgba(0, 0, 0, 0.7);
}

.orb-game-start{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-image: url( "images/orb-game-start.gif-c200" );
    background-size: 130px;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}

.orb-game-start span{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-top: 44px;
    display: inline-block;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    text-shadow: -3px -1px 1px #000;
    letter-spacing: 2px;
}

/*.level2-start-button span, .level3-start-button span{*/
    /*font-size: 15px;*/
/*}*/

.flying-birds-multiple{
    position: absolute;
    top:20px;
    margin: 0 auto;
    left: 0;
    right:0;
    width: 1280px;
    height:720px;
    background-image: url( 'images/flying-birds-multi.gif' );
    opacity: 0.2;
    z-index: -1;
}

.level1-instructions-right{
    left: 80%;
    font-size: 15px;
    animation: 160s credits linear infinite;
    opacity: 0.5;
}

.level1-instructions-right h1 {
    font-size: 30px;
}

.level1-instructions-right p {
    margin-bottom: 30px;
    font-family: 'Chewy';
}

@media only screen and ( max-width: 1366px ) {
    img {
        width: 60px;
    }

    .blood-splat-img {
        width: 70px;
    }
    .gun-image{
        display: none;
    }
    .bird-game-start-gif img{
        width: 250px;
        margin-left: -100px;
        margin-top: -15px;
    }
    .gun-aim {

    }
    .man-bird-image {
        width: 250px;
    }
    .dragon-entry-green, .dragon-entry-brown,
    .dragon-entry-dark-green, .dragon-fire-left, .dragon-fire-right,
    .dragon-fire, .dragon-final, .sleeping-dragon {
        width: 350px;
    }
}

@media only screen and ( max-width: 1024px ) {
    body, .level1-instructions-right{
        font-size: 12px;
        letter-spacing: 2px;
    }
    h1{
        margin: 5px;
        font-size: 30px;
        text-shadow: 2px 1px 1px #000;
        margin-top: 20px;
    }
    .level1-instructions-right{
        font-size: 13px;
    }
    .bird-game-start-gif img{
        width: 200px;
        margin-left: -100px;
        margin-top: -15px;
    }
    .level1-start-button, .level2-start-button, .level3-start-button{
        width: 100px;
        height: 100px;
    }
    .orb-game-start span{
        margin-top: 34px;
    }
    img{
        width: 50px;
    }
    .blood-splat-img{
        width: 60px;
    }
    .twenty-sec-to-go{
        font-size: 60px;
    }

    .nine-sec-to-go{
        font-size: 100px;
    }
    .man-bird-image{
        width: 150px;
    }

}

@media only screen and ( max-width: 800px ) {
    body {
        font-size: 8px;
        letter-spacing: 2px;
    }
    .level1-instructions-right{
        width: 250px;
        margin-left: -180px;
        animation: 120s credits linear infinite;
    }

    h1 {
        margin: 5px;
        font-size: 15px;
        text-shadow: 2px 1px 1px #000;
        margin-top: 10px;
    }

    .level1-instructions-right, .level1-instructions-right h1  {
        font-size: 13px;
    }
    .level1-start-button, .level2-start-button, .level3-start-button {
        width: 75px;
        height: 75px;
    }
    .orb-game-start span {
        margin-top: 26px;
        font-size: 20px;
    }

    .bird-game-start-gif img {
        width: 100px;
        margin-left: -40px;
        margin-top: -15px;
    }

    img {
        width: 40px;
    }

    .blood-splat-img {
        width: 50px;
    }

    .twenty-sec-to-go {
        font-size: 40px;
    }

    .nine-sec-to-go {
        font-size: 80px;
    }

    .man-bird-image {
        width: 100px;
    }

    .dragon-entry-green, .dragon-entry-brown,
    .dragon-entry-dark-green, .dragon-fire-left, .dragon-fire-right,
    .dragon-fire, .dragon-final, .sleeping-dragon {
        width: 150px;
    }

    p {
        text-shadow: 2px 2px black;
    }

    .before-game-start {
        padding-top: 15%;
    }

    .header {
        padding: 8px;
    }

    .header p {
        margin: 3px;
        padding: 1px;
    }

    .left-bird-nest div {
        min-height: 10px;
    }

    .right-bird-nest div {
        min-height: 10px;
    }

    .health-box img {
        width: 30px;
    }

    .game-over {
        font-size: 13px;
        padding-top:5%;
    }

    progress {
        height: 8px;
    }

    .movie {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .job {
        margin-bottom: 10px;
        font-size: 12px;
    }

    .name {
        margin-bottom: 50px;
        font-size: 20px;
    }

    .drop {
        height: 50px;
        bottom: 200px;
    }

}

@media only screen and ( max-width: 600px ) {
    body {
        font-size: 7px;
    }

    .level1-instructions-right {
        width: 200px;
        margin-left: -140px;
        animation: 140s credits linear infinite;
    }

    h1 {
        margin: 5px;
        font-size: 15px;
        text-shadow: 2px 1px 1px #000;
        margin-top: 10px;
    }

    .level1-instructions-right, .level1-instructions-right h1 {
        font-size: 13px;
    }

    .level1-start-button, .level2-start-button, .level3-start-button {
        width: 50px;
        height: 50px;
    }

    .orb-game-start span {
        margin-top: 10px;
        margin-left: 5px;
        font-size: 10px;
    }

    .bird-game-start-gif img {
        width: 80px;
        margin-left: -30px;
        margin-top: -20px;
    }

    img {
        width: 30px;
    }

    .blood-splat-img {
        width: 40px;
    }

    .twenty-sec-to-go {
        font-size: 30px;
    }

    .nine-sec-to-go {
        font-size: 60px;
    }

    .man-bird-image {
        width: 80px;
    }

    .dragon-entry-green, .dragon-entry-brown,
    .dragon-entry-dark-green, .dragon-fire-left, .dragon-fire-right,
    .dragon-fire, .dragon-final, .sleeping-dragon {
        width: 100px;
    }

    p {
        text-shadow: 1px 1px black;
    }

    .header {
        padding: 5px;
    }

    .header p {
        margin: 1px;
        padding: 1px;
    }

    .left-bird-nest div {
        min-height: 10px;
    }

    .right-bird-nest div {
        min-height: 10px;
    }

    .health-box img {
        width: 30px;
    }

    .game-over {
        font-size: 13px;
        padding-top: 5%;
    }
    .game-over {
        font-size: 10px;
        padding-top: 5%;
        line-height: 10px;
    }

    progress {
        height: 6px;
    }

    .movie {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .job {
        margin-bottom: 5px;
        font-size: 10px;
    }

    .name {
        margin-bottom: 30px;
        font-size: 15px;
    }

    .drop {
        height: 40px;
        bottom: 200px;
    }

}