/**
CSS for Rain
 */
html{
    height:100%;
    margin: -10px;
}
body {
    /*background-image: url( 'images/landscape.png' );*/
    margin-top: 0;

    background:#0D343A;
    background:-webkit-gradient(linear,0% 0%,0% 100%, from(rgba(13,52,58,1) ), to(#000000)  );
    background: -moz-linear-gradient(top, rgba(13,52,58,1) 0%, rgba(0,0,0,1) 100%);

    overflow:hidden;}


.drop {
    background:-webkit-gradient(linear,0% 0%,0% 100%, from(rgba(13,52,58,1) ), to(rgba(255,255,255,0.6))  );
    background: -moz-linear-gradient(top, rgba(13,52,58,1) 0%, rgba(255,255,255,.6) 100%);
    width:1px;
    height:89px;
    position: absolute;
    bottom:200px;
    -webkit-animation: fall .63s linear infinite;
    -moz-animation: fall .63s linear infinite;

}

/* animate the drops*/
@-webkit-keyframes fall {
    to {margin-top:900px;}
}
@-moz-keyframes fall {
    to {margin-top:900px;}
}

/**
Common css
 */

body{
    /*background-image: url( 'images/night-jungle-background.jpg' );*/
    background-repeat: no-repeat;
    background-size: cover;
}
.main-content{
    position: absolute;
}
button {
    margin: 10px 0;
    padding: 10px 10px 10px 10px;
    font-size: 15px;
}
.display{
    display: none;
}

/**
All images css
 */
img{
    width: 100px;
}
.blood-splat-img{
    width: 110px;
}

.gun-aim{

}
.gun-image{
    position: absolute;
    width: 500px;
    transform: translate(-50%, -50%);
    transition: 0.05s;
}

.look-left.gun-image{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
.man-bird-image{
    width: 300px;
}
/**
Before Game starts
 */
.before-game-start{
    text-align: center;
    padding-top: 200px;
}
.bird-game-start-gif img{
    width: 500px;
}
h1{
    color: rgba(205, 220, 57, 0.97);
    font-family: cursive;
    font-size: 30px;
}

/**
Header
 */
.header{
    width: 1436px;
    /*min-height: 100px;*/
    color: #fff;
    overflow: hidden;
    text-align: center;
    padding: 30px;
}

.header p {
    margin: 5px;
    padding: 0px;
    letter-spacing: 3px;
    font-family: ;
}

/**
left and right bird-nest for birds
 */


.left-bird-nest {
    float: left;
}
.left-bird-nest img{
    float: left;
    position: relative;
}
.right-bird-nest{
    float: right;
    text-align: right;
}
.right-bird-nest img{
    float: right;
    position: relative;
}

.left-bird-nest div{
    min-height: 50px;
}
.right-bird-nest div{
    min-height: 50px;
}

.health-box img{
    width: 30px;
}

/**
footer
 */
footer{
}

.animated {
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.fadeOut {
    animation-name: fadeOut;
}

.game-over{
    color: #ffffff;
    font-size: 50px;
    padding-top: 200px;
    text-align: center;
}

.nine-sec-to-go{
    color: red;
    font-size: 500px;
    opacity: 0.5;
}

.bird-man-killed{
    color: red;
}